<html>
    <head>
        <title>Architecture</title>
    </head>
    <body>
        <form action="/submitForm" method="POST">
            <label for="">Name</label><br>
            <input type="text" name="name" placeholder="Your name">
            <br><br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>